<link rel="stylesheet" href="/css/profile.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<nav>
    <header>
        <a href="/apps/">
            <img id="logo" src="/assets/logo.png" alt="EndTech Logo" width="60px" height="60px">
        </a>
        <h3>Endtech Application Archive</h3>
    </header>

    <div id="profile">
        <button id="sign-out"><a href="/disconnect/">Sign Out</a></button>
        <img id="logged-user-profile-pic"
             src="<%=userpfp%>"
             alt="Profile Picture" width="45px" height="45px">
    </div>
</nav>
