# Project specific
config.json
backups
endbot.db

# Modules
modules.config.ini
modules/*
!modules/ping/
!modules/embed_editor/
!modules/discord_links/
!modules/applications/
!modules/list/

# macOS
.DS_Store

# IntelliJ
.idea

# Dependency directories
node_modules/
