* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-color: #36393F;
}

#messages {
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-top: 30px;
	list-style: none;
}

.message {
	display: flex;
	padding: 4px;
	padding-left: 6.2%;
}

.message:hover {
	background-color: #32343a;
}

.author-avatar {
	align-self: flex-start;
	clip-path: circle(17.5px);
}

.author-avatar:hover {
	cursor: pointer;
}

.author-avatar:active {
	transform: translateY(1px);
}

.data {
	margin-left: 12px;
}

.name {
	color: #FFF;
}

.name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.content {
	line-height: 24px;
	height: 100%;
	color: #DCDDDE;
}

#messages img,video {
	max-width: 400px;
	border-radius: 6px;
}

.timestamp {
	font-size: 12px;
	margin-left: 2px;
	color: #B9BBBE;
}
