* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #36393f;
}

#filters {
	margin: 20px 6%;
	color: #2f3136;
	font-weight: 600;
	border: #7d8085 solid 1px;
	padding: 14px 14px 14px 14px;
	border-radius: 5px;
	background-color: #6f747a;
	font-size: 1.3em;
}

#filters form {
	display: inline;
}

#filter-form {
	margin-left: 26px;
}

#filters select {
	background-color: #dbdbdb;
	color: #202225;
	outline: none;
	border-radius: 5px;
	height: 26px;
	position: relative;
	top: -1px;
	transition: all 0.2s ease 0s;
	cursor: pointer;
}

#filters select:hover {
	background-color: #c7c7c7;
}

#search-form {
	margin-left: 32px;
}

#search-box {
	outline: none;
	width: 220px;
	height: 22px;
	background-color: #dbdbdb;
	border-style: solid;
	border-radius: 5px;
	transition: all 0.2s ease 0s;
	padding: 2px;
}

#search-box:hover {
	background-color: #c7c7c7;
}

li {
	display: inline;
}

.user {
	display: flex;
	border: rgba(100, 100, 100, 0.7) 1px solid;
	padding: 15px;
	align-items: center;
	margin: 20px 6%;
	color: #c7c7c7;
	background-color: #2f3136;
	border-radius: 5px;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}

.user:hover {
	background-color: #2a2c31;
}

.user-profile-pic {
	border-radius: 50%;
	margin-right: 10px;
}

.user span {
	margin: 0 6px 0 5px;
	font-size: 1.8em;
	color: #1d1f22;
}

h4 {
	text-transform: capitalize;
}

.accepted h4 {
	/* temporary, will be in js */
	color: #027a30;
}

.declined h4 {
	/* temporary, will be in js */
	color: #ff3333;
}

.pending h4 {
	/* temporary, will be in js */
	color: #FFCC00;
}

.date {
	margin: 0 6px 0 5px;
	font-weight: 600;
	color: #c7c7c7;
}

.round {
	margin-left: auto;
	font-weight: 600;
	color: #1d1f22;
}
