* {
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 22px 6%;
	background-color: #202225;
}

#logo {
	display: flex;
	margin-right: 20px;
	cursor: pointer;
}

#logo:active {
	transform: translateY(2px);
}

nav header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: auto;
	color: #a832a6;
	text-decoration: none;
	font-weight: bolder;
	font-size: xx-large;
}

#logged-user-profile-pic {
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

#logged-user-profile-pic:hover {
	box-shadow: 0 5px 5px #1d1d1d;
}

#logged-user-profile-pic:active {
	transform: translateY(1px);
}

#profile {
	display: flex;
	align-content: center;
}

#sign-out {
	background-color: #202225;
	border: none;
	outline: none;
}

#sign-out a {
	background-color: #36393f;
	border: #161618 1.95px solid;
	border-radius: 16px;
	font-weight: 600;
	font-size: 1.1em;
	outline: none;
	color: #cf3232;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	text-decoration: none;
	padding: 6.5px;
}

#sign-out:hover {
	color: #b42e2e;
}