version: "3"

services:
  bot:
    build:
      context: ..
      dockerfile: docker/bot/Dockerfile
    volumes:
      - ../config:/etc/endbot/config
      - ../packages/endbot/src:/app/packages/endbot/src
    ports:
      - 34345:34345
    depends_on:
      - db
    environment:
      ENV: "development"
    command: npm run dev

  db:
    image: mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_DATABASE: enddb
      MYSQL_USER: endbot
      MYSQL_PASSWORD: supersecret
    ports:
      - 3306:3306

    # Removes 'mbind: Operation not permitted'
    # spam in the logs.
    security_opt:
      - seccomp:unconfined
