<!DOCTYPE html>
<html lang="en">

<link href="/css/headers.css" rel="stylesheet">

<nav>
	<header>
		<a>
			<h1>
				EndTech Projects
			</h1>
		</a>
	</header>

	<div>
		<button id="logout">
			<a href="/logout">
				<img src="/assets/logout-64.png" width="40px" height="40px">
			</a>
		</button>
	</div>

</nav>
