<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/home.css" rel="stylesheet">
    <title>EndTech Application Archive</title>
</head>
<body>
<main>
    <%- include("headers/headers"); %>

</main>
